@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@400;500&display=swap');

.app {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    height: 100%;   
}
a {
    text-decoration: none;
}
.all-pages {
    min-height: 92vh;
    flex-direction: column;
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
}